$color-primary-300 : #01707a;
$color-primary-500 : #bc5b30;
$color-primary-700 : #133a65;
$color-neutru-100 : #e5e4e8;
$color-neutru-900 : #1f1f27;
$desktopW: 800px;
$desktopW2: 1000px;
$desktopW3: 1200px;
$desktopW4: 1400px;
